


h2{
  font-family: cursive;
  text-align: center;
  font-size: 45px;
  color: red;
}

h3{
  font-family:'Brush Script MT', cursive;
  text-align:  center;
  font-size: 40px;
  color: black;
}

body{
		background-color:  
}

nav#indexnav1 ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

nav#indexnav1 ul li {
	float: left;
	margin: 0 20px;
}

nav#indexnav1 ul li a {
	display: block;
	background-color: red ;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	width: 100px;
	padding: 5px 0px;
	border-radius: 30px; 
}

nav#indexnav1 ul li a:hover{
	background-color: black;
}

nav#indexnav1 #onpage{
  text-decoration: underline;
}

.pic{
	text-align: left;
}

img{
    display: block;
    margin-right: auto;
}

iframe{
    display: block;
    margin-left: auto;
}
p{
	 font-family:'Vardana';
	 font-size: 18px;
	 text-align: left;
}