nav#indexnav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

nav#indexnav ul li {
	float: left;
	margin: 0 20px;
}

nav#indexnav ul li a {
	display: block;
	background-color: gray;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	width: 100px;
	padding: 5px 0px;
	border-radius: 20px; 
}

nav#indexnav ul li a:hover{
	background-color: orange;
}


h1{
  font-family: cursive;
  text-align: center;
  font-size: 45px;
  color: orange;
}

body{
		background-color:  ;
		text-align: center;
}
